<div class="user-questions buffer-both">
  <div class="questions-list">
    <H3 style="margin: 14px;"><small>Найденые вопросы с хештегом:</small> #<%= @tag %></H3>
    <% @questions.each do |question| %>
      <%= render partial: 'questions/question', object: question %>
    <% end %>
  </div>
</div>
